*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #b2aaaa;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo-social img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  
  .newsletter {
    margin-bottom: 20px;
  }
  
  .newsletter h4 {
    margin-top: 0;
    margin-bottom: 12px;
  }
  
  .newsletter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .newsletter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  
  .newsletter button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color: #3e8e41;
  }
  
  .footer-menu {
    margin-top: 20px;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-menu ul li {
    margin-right: 20px;
    gap: 5px;
  }
  
  
  .footer-menu a:hover {
    color: #666;
  }

  